fastapi
uvicorn
mysql-connector-python
sqlalchemy
mysql
PyMySQL
cryptography
pytz
redis
itsdangerous

pandas

python-dotenv
email-validator
python-multipart
redis

# crawling
requests
beautifulsoup4

# 이미지 처리 
rembg==2.0.50
segment-anything==1.0

# Password encryption
passlib
bcrypt==4.0.1

pydantic[email]

# 가상 피팅
numpy>=1.20,<2.0
scipy==1.10.1
scikit-image==0.21.0
opencv-python==4.7.0.72
pillow==9.4.0
diffusers==0.24.0
transformers==4.36.2
accelerate==0.26.1
matplotlib==3.7.4
tqdm==4.64.1
config==0.5.1
einops==0.7.0
onnxruntime==1.16.2
safetensors==0.3.1

huggingface-hub==0.25.2

# 빠른 가상 피팅용 (Hugging Face Gradio API)
gradio
gradio-client

# 비동기 HTTP 요청
aiohttp

# pip install torch==2.1.2 torchvision==0.16.2 torchaudio==2.1.2 --index-url https://download.pytorch.org/whl/cu121