.App {
  text-align: center;
}

/* 사이드바 관련 css */
.app-container {
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}

.sidebar-open .content {
  margin-left: 250px;  /* 사이드바가 열리면 250px만큼 밀리도록 */
}

.content {
  padding: 20px;
  transition: margin-left 0.3s ease;
}